<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Personal De Elizabeth Batalla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/me.jpg">
    </ion-img>
    <ion-card-header>
      <ion-card-title>
        Elizabeth Batalla
      </ion-card-title>
      <ion-card-subtitle>
        Catedrático Universitario
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officiis illo dignissimos molestias. Harum ab
        adipisci alias pariatur eaque iure, molestiae consequatur distinctio necessitatibus. Iste, non? Quia rem
        consequuntur veniam?
        Nesciunt, adipisci tempora odio fuga voluptates magnam in possimus aspernatur at laboriosam minima facilis
        repellat, inventore tempore saepe dolor reiciendis ipsam quod quidem sint ea rerum aut voluptate? Ad, libero!
        Repellendus aliquid ipsum quo architecto accusamus magnam dolorem. Animi nostrum aut saepe! Magnam esse dolore
        ea, vero corporis nostrum eius omnis quae voluptates totam, dolorum voluptate dolor vitae expedita accusantium.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>