<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aplicación En Ionic</ion-card-title>
      <ion-card-subtitle>En cumlimiento de la materia: Desarrollo De Aplicaciones Web.</ion-card-subtitle>
    </ion-card-header>
    

    <ion-card-content>
      <p>
        Como parte de la materia de desarrollo de aplicaciones web, vamos a crear una aplicación móvil con Ionic. Ionic
        es un framework popular que nos facilita el desarrollo de aplicaciones híbridas, lo que significa que podemos
        escribir código una vez y desplegarlo en múltiples plataformas móviles. Esto nos ahorra tiempo y esfuerzo en
        comparación con el desarrollo de aplicaciones nativas para cada plataforma. Utilizaremos las herramientas y
        componentes que Ionic nos proporciona para construir una aplicación con una interfaz de usuario moderna y una
        experiencia de usuario fluida. El objetivo es aplicar los conocimientos adquiridos en la materia para crear una
        aplicación móvil funcional y de calidad.
      </p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Herramientas a Utilizar:</ion-card-subtitle>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/icon/favicon.png">
          </ion-thumbnail>
          <ion-label>Ionic</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/html.png" />
          </ion-thumbnail>
          <ion-label>Html</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/css.png" />
          </ion-thumbnail>
          <ion-label>Css</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/angular.png" />
          </ion-thumbnail>
          <ion-label>Angular</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Profesor:</ion-label>
      <ion-badge color="success">José De Jesus Valencia Cruz</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Alumno:</ion-label>
      <ion-badge color="tertiary">Elizabeth De La Cruz Batalla</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

